<kendo-dialog *ngIf="isActive">
    <div class="button-close" (click)="onClose()"></div>
    <div class="pnl-dialog">
      <form class="k-form" [formGroup]="downloadForm">
        <fieldset>
          <legend>Upload Photo</legend>
          <label class="k-form-field">
            <textarea kendoTextArea placeholder="Description"  style="width: 100%" [autoSize]="true"></textarea>
          </label>
          <label class="k-form-field">
            <kendo-upload
              [autoUpload]="false"
              [saveUrl]="uploadSaveUrl"
              (upload)="uploadEventHandler($event)"
              #kendoUploadInstance="kendoUpload"
              [removeUrl]="uploadRemoveUrl">
            <kendo-upload-messages select="Choose or drag a file here."></kendo-upload-messages>
            </kendo-upload>
          </label>
          <label>
            <button class="w100 k-button k-primary" (click)="onUpload()">Upload</button>
          </label>
       </fieldset>

      </form>
    </div>
</kendo-dialog>
