<div class="button-close" (click)="close()">
</div>
<div class="pnl-dialog">
  <form class="k-form" [formGroup]="authForm">
    <fieldset>
        <legend>{{ title }}</legend>
        <label class="k-form-field">
            <input type="email" class="k-textbox" id="email" [formControl]="authForm.get('email')"  value="" required placeholder="Your Email" />
        </label>
        <label class="k-form-field">
            <input type="password" class="k-textbox" id="password" placeholder="Your password" required [formControl]="authForm.get('password')"/>
        </label>
        <label class="pb-10">
            <button type="button" [disabled]="!authForm.valid" (click)="submitForm()" class="w100 k-button k-primary">{{ btnTitle }}</button>
        </label>
        <label *ngIf="type == authComponentType.logIn" class="text-center small pb-5">
            <a class="text-muted" href="">Fogot password?</a>
        </label>
        <label class="text-center pb-5">
            <span>Or</span>
        </label>
        <label *ngIf="type == authComponentType.logIn" class="text-center">
            <a href="" (click)="signUp()">Sign up</a>
        </label>
        <label *ngIf="type == authComponentType.signUp" class="text-center">
            <a href="" (click)="logIn()">Log in</a>
        </label>
    </fieldset>
  </form>
</div>


 

